/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My stuff starts here */
div{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  margin-left: 5em;
  font-size:120%;
}

h1{
  width:40em;
  font-weight:800;
  font-size:300%;
  margin-top:1em;
  color:#000066;
  border-bottom: 3px solid #000066;
}

h2{
  font-style:italic;
  font-size:150%;
  margin-top:0.4em;
  margin-bottom:1em;
}

a{
  color:#3366FF;
  text-decoration:none;
}
a:hover{
  color:#000066;
  text-decoration:#99CCFF;
}
form{
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}


input.button{
  background:#000066;
  border:none;
  color:white;
  font-family:"Open Sans", sans-serif;
  font-size:100%;
  font-weight:600;
  border-radius:5px;
}

input.textbox{
  border:1px black solid;
  font-family:"Open Sans", sans-serif;
  font-size:100%;
  width:20em;
}

span.label{
  margin-right:2em;
}

#map-canvas{
  width:40em;
  height:25em;
  border:2px black solid;
}

#status_box{
  width:40em;
  height:3em;
  background:#FFCC99;
  border:2px solid #FF9900;
  padding-left:1em;
  padding-right:1em;
  padding-top:0.2em;
  padding-bottom:0.2em;
  margin-bottom:0.6em;
  border-radius:5px;
}

#info_box{
  margin-bottom:5em;
}

th{
  font-weight:700;
  font-size:120%;
  padding-bottom:0.5em;
}

#procedure_table tr{
  cursor: pointer;
}

#procedure_table tr:hover{
  background: #99CCFF;
}

#procedure_table tr.header:hover{
  background: none;
}

#procedure_table #selected_row{
  background:#000066;
  color:white;
}

#procedure_table #selected_row:hover{
  background:#000066;
  color:white;
}

#procedure_table td{
  padding-top:.5em;
  padding-bottom:.5em;
  padding-left:1em;
  padding-right:1em;
  line-height: 130%;
}

#procedure_table td:nth-child(1), th:nth-child(1)
{
  width:4em;
}
#procedure_table td:nth-child(2), th:nth-child(2)
{
  width:20em;
}
#procedure_table td:nth-child(3), th:nth-child(3)
{
  width:8em;
}
#procedure_table td:nth-child(4), th:nth-child(4)
{
  width:10em;
}
#procedure_table td:nth-child(5), th:nth-child(5)
{
  width:5em;
}

#procedure_table td:nth-child(3)
{
  text-align:right;
}
#procedure_table td:nth-child(4)
{
  text-align:right;
}
#procedure_table td:nth-child(5)
{
  text-align:right;
}

#provider_table tr{
  cursor: pointer;
}

#provider_table tr:hover{
  background: #99CCFF;
}

#provider_table td{
  padding-top:.5em;
  padding-bottom:.5em;
  padding-left:1em;
  padding-right:1em;
}

span.ref {
    position: relative;
    vertical-align: baseline;
   }

span.refnum {
    position: relative;
    left: 2px;
    bottom: 1ex;
    color: #005994;
    font-size: .7em;
    font-weight: bold;
    cursor: pointer;
}

span.refbody {
    text-align:left;
    font-size: .7em;
    font-weight:400;
    line-height: 1.1;
    display: none;
    min-width: 20em;
    position: absolute;
    left: 25px;
    bottom: 5px ;
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
    word-wrap: break-word;
    z-index: 9999;
    overflow: auto;
}