{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'explorer/main.css' %}" />
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'explorer/main.js' %}"></script>
  </head>
<body>

  <h1>Medissect</h1>
  <div id = "dump"></div>
  <div id = "status_box"> </div>
  
  <form onsubmit = "search_location();return false;">
    Explore near:
    <input id="location_text_box" type="text" autocomplete="off">
    <input type = "submit" value = "Go" class="button clear"/>
  </form>
  
  <div id="map-canvas" style="width:35em;height:20em;"></div>
  
  <form onsubmit = "return false;">
    Search for providers:
    <input id="provider_search" type="text" autocomplete="off" onkeyup="on_provider_search_keyup(this.value)">
    <input type = "button" class="button clear" value = "Clear" onclick="clear_provider_search()"/>
  </form>
  <br/>
  <section id = "provider_search_results">
    <table id = "provider_table">
    
    </table>
  </section>
  <form onsubmit = "return false;">
    Search for procedures:
    <input id="procedure_search" type="text" autocomplete="off" onkeyup="on_procedure_search_keyup(this.value)">
    <input type = "button" class="button clear" value = "Clear" onclick="clear_procedure_search()"/>
  </form>
  <br/>
  
  <section id = "info_box">
    <h2 id = "info_title" ></h2>
    <table id = "procedure_table">
      <tr class = 'header'>
        <th>Code</th>
        <th>Description</th>
        <th>Submitted charge</th>
        <th>Allowed charge</th>
        <th>Count</th>
      </tr>
    </table>
  </section>
</body>
</html>
