{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'explorer/main.css' %}" />
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>

//////////////////////////////////////////////////////////
// Initialization ////////////////////////////////////////    
//////////////////////////////////////////////////////////

var ne_lat = 0.0, ne_lng = 0.0, sw_lat = 0.0, sw_lng = 0.0;
var selected_provider = {"npi": 0};
var selected_procedure = "all";
var descriptor_search_string = "";

var map;
var infowindow;
var infowindow_selector = document.createElement('select');
infowindow_selector.setAttribute("onchange", "on_infowindow_selector_change(this)")
var infowindow_providers;

google.maps.event.addDomListener(window, 'load', initialize);
request_descriptor_list();

function initialize() {
  var mapCanvas = document.getElementById('map-canvas');
  var mapOptions = {
    center: new google.maps.LatLng(42.37, -71.12),
    zoom: 14,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(mapCanvas, mapOptions);
  infowindow = new google.maps.InfoWindow();
  
  google.maps.event.addListener(map, 'bounds_changed', on_bounds_changed);
  google.maps.event.addListener(map, 'click', on_map_click);
  map.data.addListener('mouseover', on_marker_mouseover);
  map.data.addListener('click', on_marker_click);
//   map.data.setStyle(set_feature_style);
  
}

//////////////////////////////////////////////////////////
// Requests //////////////////////////////////////////////    
//////////////////////////////////////////////////////////

function request_map_data(){
  if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {on_server_response(xmlhttp);};
  xmlhttp.open(
    "GET", 
    "map_data?ne_lat=" + String(ne_lat) + 
    "&ne_lng=" + String(ne_lng) +
    "&sw_lat=" + String(sw_lat) +
    "&sw_lng=" + String(sw_lng) +
    "&proc_code=" + selected_procedure,
    true);
  xmlhttp.send();
}

function request_descriptor_list(){
  
  str = descriptor_search_string;
  if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {on_server_response(xmlhttp);};
  xmlhttp.open(
    "GET", 
    "descriptor_list?npi=" + String(selected_provider["npi"]) +
    "&str=" + str,
    true);
  xmlhttp.send();
}

function request_procedure_list(){ 
  str = descriptor_search_string;
  if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {on_server_response(xmlhttp);};
  xmlhttp.open(
    "GET", 
    "procedure_list?npi=" + String(selected_provider["npi"]),
    true);
  xmlhttp.send();
}

//////////////////////////////////////////////////////////
// Responses /////////////////////////////////////////////    
//////////////////////////////////////////////////////////

function on_server_response(xmlhttp){
  if (xmlhttp.readyState==4 && xmlhttp.status==200) {
    jsonData = JSON.parse(xmlhttp.responseText);
    if(jsonData['type'] == 'FeatureCollection') {
      map.data.forEach(function(feature){map.data.remove(feature);});
      map.data.addGeoJson(jsonData);
    }
    else if(jsonData['type'] = 'DescriptorList'){
      fill_in_descriptor_selector(jsonData);
    }
  }
}

function fill_in_descriptor_selector(jsonData){
  var descriptors = jsonData['descriptors'];
  var selector = document.getElementById('descriptor_selector');
  while (selector.firstChild) {
    selector.removeChild(selector.firstChild);
  }
  
 option = document.createElement('option');
 selector.appendChild(option);
 option.setAttribute("value", "all");
 option.text = "All";
    
  for(i = 0; i < descriptors.length; i++){
    option = document.createElement('option');
    selector.appendChild(option);
    option.setAttribute("value", descriptors[i][0]);
    option.text = descriptors[i][0] + ": " + descriptors[i][1]
  }
}

//////////////////////////////////////////////////////////
// Events ////////////////////////////////////////////////    
//////////////////////////////////////////////////////////

// Map related ///////////////////////////////////////////

function on_bounds_changed(){
  
  ne_lat_1 = map.getBounds().getNorthEast().lat(),
  ne_lng_1 = map.getBounds().getNorthEast().lng(),
  sw_lat_1 = map.getBounds().getSouthWest().lat(),
  sw_lng_1= map.getBounds().getSouthWest().lng();
  
  span_lat_1 = ne_lat_1 - sw_lat_1;
  span_lng_1 = ne_lng_1 - sw_lng_1;
  span_lat = ne_lat - sw_lat;
  span_lng = ne_lng - sw_lng;  
  
  // Only reload the data if the view changes a lot
  if(
    ne_lat_1 > ne_lat || 
    ne_lng_1 > ne_lng || 
    sw_lat_1 < sw_lat ||
    sw_lng_1 < sw_lng ||
    span_lat_1 < 0.20 * span_lat||
    span_lng_1 < 0.20 * span_lng
    )
  {
    
    ne_lat = ne_lat_1 + span_lat_1;
    sw_lat = sw_lat_1 - span_lat_1;
      
    ne_lng = ne_lng_1 + span_lng_1;
    sw_lng = sw_lng_1 - span_lng_1;
    request_map_data();  
  }
}

function on_marker_mouseover(event){
  infowindow_providers = event.feature.getProperty('providers');

  if(infowindow_providers.length > 1){
    while (infowindow_selector.firstChild) {
      infowindow_selector.removeChild(infowindow_selector.firstChild);
    }
    if(infowindow_providers.length > 5)
      infowindow_selector.setAttribute("size", "5");
    else
      infowindow_selector.setAttribute("size", String(infowindow_providers.length));
      
    for(i = 0; i < infowindow_providers.length; i++){
      option = document.createElement('option');
      infowindow_selector.appendChild(option);
      option.text = infowindow_providers[i]['first_name'] + " " +
        infowindow_providers[i]['last_name'];
    }

    infowindow.setContent(infowindow_selector);
  }
  else{
    infowindow.setContent(
      infowindow_providers[0]["first_name"] + " " +
      infowindow_providers[0]["last_name"]);
  }
  infowindow.setPosition(event.latLng);
  infowindow.setOptions({pixelOffset: new google.maps.Size(0,-34)});
  infowindow.open(map);
}

function set_feature_style(feature){
    var radius = 5 * feature.getProperty('expensiveness');
    if(radius > 30){
      radius = 30
    }
    
    return {
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        strokeWeight: 1,
        fillOpacity: .5,
        fillColor: '#CC0066',
        strokeColor: '#660033',
        scale: radius
      }
    };
}

// Descriptor selection related //////////////////////////

function on_descriptor_selector_change(selector){
  var i = selector.selectedIndex;
  var code = selector.options[i].value;
  selected_procedure = code;
  request_map_data();
}

function on_descriptor_search_keyup(str){
 descriptor_search_string = str;
 request_descriptor_list();
}

// Provider selection related ///////////////////////////

function on_marker_click(event){
  providers = event.feature.getProperty('providers');
  on_select_provider(providers[0]);
}

function on_map_click(){
  on_select_provider({"npi": 0});
}

function on_infowindow_selector_change(selector){
  var i = selector.selectedIndex;
  on_select_provider(infowindow_providers[i]);
}

function on_select_provider(provider){
  selected_provider = provider;
  request_descriptor_list();
  
  box = document.getElementById("provider_info");
  while (box.firstChild) {
      box.removeChild(box.firstChild);
    }
  
  if(provider["npi"] == 0){
  }
  else {
    
    
    title = document.createElement("h2");
    box.appendChild(title);
    title.innerHTML = provider["first_name"] + " " + provider["last_name"];
  }
}



    </script>
  </head>
<body>

  <h1>Medissect</h1>
  <div id = "dump"></div>
  
  <table>
    <tr>
      <td>
        <div id="map-canvas" style="width:35em;height:20em;"></div>
      </td>
      <td>
        <input id="descriptor_search" type="text" onkeyup="on_descriptor_search_keyup(this.value)"> <br/>
        <select id="descriptor_selector" size="20" onchange= "on_descriptor_selector_change(this)">
        </select>
      </td>
    </tr>
  </table>
  
  <div id = "provider_info">
    
  </div>
</body>
</html>
